@charset "UTF-8";

:root {
    --cor01: #DBD08A;
    --cor02: #95D5DB;
    --cor03: #685BBD;
    --cor04: #83714C;
    --cor05: #664A36;
}

body {
    background-color: var(--cor01);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: var(--cor05);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}

