@charset "UTF-8";


* {
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
}

:root {
    --cor01: #DBD08A;
    --cor02: #95D5DB;
    --cor03: #685BBD;
    --cor04: #83714C;
    --cor05: #664A36;
}

body {
    background-color: var(--cor04);
    font: normal 15pt Arial;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    margin: 100px 0px 30px 0px;
    color: black;
}

header {
    color: white;
    text-align: center;
}
div {
    padding: 5px;
}

section {
    background-color: var(--cor01);
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    margin: auto;
    margin-top: 0px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

input {
    background-color: var(--cor01);
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
}

input[type='text']:focus {
    background-color: #664a3644;
}

input[type='button']:hover {
    background-color: #664a3644;
    cursor: pointer;
}

input[type='button']:active {
    background-color: var(--cor05);
    color: white;
    cursor: pointer;
}

input[type='radio'] {
    border: 3px solid black;
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}

img {
    margin-top: 20px;
}
/* 
.radiob input {
    display: none;
}

.radiob {
    content: '';
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #664A36;
    border: 2px solid white;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    margin-bottom: 3px;
}

.radiob input:checked + label:before {
    background-color: red;
    box-sizing: border-box;
    border: 5px solid red;
    padding: 1px;
} */
